.title {
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    color: #E08382;
    transition: 1s;
    margin: 1rem 0;
  
  }

  .caixaTitle{
    border-bottom: #E08382 solid .2rem;
    
    box-sizing: border-box;
    padding-bottom: 1rem;
  }