.lateralInfo{
  display: flex;
  flex-direction: column;
  margin: 1rem ;
  justify-content: space-between;
  box-sizing: border-box;
}

.comoFunciona h2{
  background-color: gray;
}
.lista{
  list-style:disc;
  margin: 0  0 1.5rem 1.5rem;
}
.info{
  display: flex;
  margin: 2rem auto;
  justify-content: center;
 }

.image {
  height: 18rem;
  border-radius:30%;
}

.frase{
  font-style: italic;
  font-weight: 500;
  font-size: 1.2rem;
}

.text {
 
  font-size: 1rem;
  width: 50%;
}

#botaoMain{
  margin-top: 3rem;
}

.textstyle{
  padding: 1rem 0;
  font-weight: 700;
}


@media screen and (max-width:415px) {
  .lateralInfo{
    margin: 0;
  }
  .content{
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    height:100%;
    padding: 0 1rem;
    position: relative;
    justify-content:flex-start;

  }
  .image{
    margin: 1rem auto;
    width: 12rem;
    height: 12rem;
  }
  .info{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .text{
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
  }

  #botaoMain{
    width:80% ;
    bottom: 5rem;
    right: 2rem;
    }

  
}