.buttonCustom{
    border: solid 1px #125872;
    box-sizing: border-box;
    padding: .7rem .5rem ;
 
    border-radius: 10px;
    transition-duration: 1s;
}

.buttonCustom:hover{
    color: #07A58F;
    border: solid 1px #07A58F;
    transition-duration: 1s;
    scale: 1.1;
}

