.menu {
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
   
}
.menuOff {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
}

.lista {
    display: flex;
    margin: 0 auto;
    align-items: center;
    
}

.lista a {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 2rem;
    color:#125872;
    transition: .5s;
}



.lista a:hover {
    list-style: none;
    text-decoration: none;
    color: #0eeed0;
    transition: .5s;
}

.menuMobile, .closeMenuMobile {
    display: none;
}

@media screen and (max-width:415px) {
    .menu {
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: #125872;
        height: 100vh;
        position: fixed;
        width: 70%;
        top: 0;
        right: 0;
        transition-duration: 1s;
        justify-content: start;
        box-sizing: border-box;
        padding: 2rem 0;
    }

    .menuOff {
        display: flex;
        box-sizing: border-box;
        padding: 2rem 0;
        flex-direction: column;
        z-index: 1;
        background-color: #F2F2F2;
        height: 100vh;
        position: fixed;
        width: 0;
        top: 0;
        right: 0;
        justify-content: start;
        transition-duration: 1s;
    }

    .lista a {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 1rem;
        color: white;
        
    }

    lista a:hover {
        list-style: none;
        text-decoration: none;
        color: #0eeed0;
        transition: 1s;
    }

    .lista {
        flex-direction: column;
        height: 40%;

    }

    .menuMobile {
        display: inline;
        position: fixed;
        z-index: 1;
        right: 0.4rem;
        top: 1.5rem;
        color: #125872;
    }

    .closeMenuMobile{
        display: inline;
        margin-left: 80%;
        
        
        color: white;
    }



}