.menu {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
}
.menuOff {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
}

.lista {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

a {
    margin: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem;
    color: #E08382;
    transition: 1s;
}



a:hover {
    list-style: none;
    text-decoration: none;
    color: #0eeed0;
    transition: 1s;
}

.menuMobile {
    display: none;
}

@media screen and (max-width:415px) {
    .menu {
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: #E08382;
        height: 100vh;
        position: fixed;
        width: 70%;
        top: 0;
        right: 0;
        transition-duration: 1s;
        justify-content: start;
        box-sizing: border-box;
        padding: 2rem 0;
    }

    .menuOff {
        display: flex;
        box-sizing: border-box;
        padding: 2rem 0;
        flex-direction: column;
        z-index: 1;
        background-color: #F2F2F2;
        height: 100vh;
        position: fixed;
        width: 0;
        top: 0;
        right: 0;
        justify-content: start;
        transition-duration: 1s;
    }

    a {
        margin: 2rem;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 1rem;
        color: white;
    }

    a:hover {
        list-style: none;
        text-decoration: none;
        color: #0eeed0;
        transition: 1s;
    }

    .lista {
        flex-direction: column;
        height: 40%;

    }

    .menuMobile {
        display: inline;
        position: fixed;
        z-index: 1;
        left: 0.4rem;
        top: 1.5rem;
        color: #E08382;
    }



}