.card{
    margin: .5rem;
    height: 14rem;
    width: 22rem;
    background-color: #f2f2f2;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 1rem;
  
}
.simbolo{
    display: flex;
    align-items: center;
    color: #E08382
    
}
.titulo{
   margin-left: 1rem;
   font-size: 1.8rem;
    font-weight: 700;  
}
.texto{
    box-sizing: border-box;
    padding: 1rem 0;
}
