.headerCustom{
    padding: .7rem 0;
    position: fixed;
    top: 0;
    background-color:  white   ;
    width: 100%;
    height: auto;
    z-index: 1;
    box-shadow: .2rem .2rem 15rem gray;
    display: flex;
    align-items: center;
}
.headerCustom img{
    width: 34rem;
}

.headerCustom h1{
    margin: 0 0 1rem 6rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: #E08382;
    

}

@media screen and (max-width:415px) {
    .headerCustom{
        padding: 1rem 0;
    }
    .headerCustom h1{
        margin: 0;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        font-family: 'Dancing Script', cursive;
        font-size: 2.2rem;
        color: #E08382;
        text-align: center;
        justify-content: center;
    }
    .headerCustom img{
        width: 25rem;
    }
}