.headerCustom{
    box-sizing: border-box;
    padding: 1rem;
}

.headerCustom h1{
    margin: 0 0 2rem 6rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color:#E08382;
}

@media screen and (max-width:400px) {
    .headerCustom h1{
        font-size:2rem;
        margin: 0 auto;
        text-align: right;
       
    }
}

