.headerCustom{
    box-sizing: border-box;
    padding: 1rem;
}

.headerCustom h1{
    margin: 0 0 2rem 6rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #E08382;

}

@media screen and (max-width:415px) {
    .headerCustom{
        padding: 1rem ;
    }
    .headerCustom h1{
        margin: 0;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        font-family: 'Dancing Script', cursive;
        font-size: 2.2rem;
        color: #E08382;
        text-align: center;
        justify-content: center;
    }
}