.sectionCustom {
    box-sizing: border-box;
    justify-content: center;
    align-items: center; 
    padding: 5.8rem 2rem;
}


@media screen and (max-width:415px) {
    .sectionCustom {
        text-align: center;
        padding: 7rem 4rem 0 1.5rem;
    }

}