.main {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    margin: 1rem auto;
    width: 70%;
    align-items: center;

}

.content {
    box-sizing: border-box;
    margin-top: 3.5rem;  
    padding: 2rem;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    
}

.conteudo {
    width: 60%;
}

.text {
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 1rem 0;
}

@media screen and (max-width:415px) {
    .container {
        padding: 0 2em;
    }

    .main {
        display: block;
        padding: 0;
    }

    .conteudo {
        width: 100%;
    }

    .cards {
  
    }
    .text{
        font-size: 1.2rem;
        line-height: normal;
        text-align: left;
    }
}