.rodape{
    height: 100%;
    background-color:#125872;;
    text-align: center;
    box-sizing: border-box;
    padding: .7rem;
    color: white;
}

.redesSociais{
    display: flex;
    justify-content: center;
    color: white;
}