.content {
  box-sizing: border-box;
  margin-top: 6rem;  
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.info{
  display: flex;
  margin: 4rem auto;
  justify-content: center;
 }

.image {
  height: 18rem;
  border-radius:30%;
}

.text {
  font-size: 1rem;
  margin: 2rem;
  width: 50%;
}
#botaoMain{
position: absolute;
bottom: 6rem;
right: 15rem;
}



@media screen and (max-width:415px) {
  .content{
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    height:100%;
    padding: 0 1rem;
    position: relative;
    justify-content:flex-start;

  }
  .image{
    margin: 1rem auto;
    width: 12rem;
    height: 12rem;
  }
  .info{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .text{
    width: 100%;
    margin: 0;
  }

  #botaoMain{
    width:80% ;
    bottom: 5rem;
    right: 2rem;
    }

  
}