.videoScroll{
    scroll-snap-type: none;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1rem;
}
.informativo{
    display: none;
}

.videos{
    padding: 0;
}
.video{
    width: 50%;
}
@media screen and (max-width:415px) {
.videos{
    margin: 2rem auto;
    overflow: hidden;
    height: 100%;
}

.videoScroll{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    padding: 4rem;
   
}

.video{
    flex: 0 0 100%; /* Ajuste a largura dos vídeos principais aqui */
    scroll-snap-align: start;
    margin-right: 20px; /* Espaçamento entre os vídeos */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

iframe{
    width: 100%;
    height: 100%;
}
.informativo{
    display: block;
    font-weight: 700;
    color: #125872;
}

}